<div class="popup-wrap" id="order-popup">
   <div class="popup">
      <div class="order-popup-content">
         @@include('../_close.html')
         <!-- Контент модального окна -->
         <h4 class="order-title">Checkout</h4>
         <!-- Для оформления заказа заполните форму ниже. Укажите удобный для Вас способ обратной связи, после чем мы сообщим детали -->
         <p class="order-text">To place an order fill out the form below. Specify a feedback method convenient for you, after which we will inform you of the details</p>

         @@include('../forms/order-form.html')
      </div>
   </div>

   <div class="popup-overlay"></div>
</div>