<section id="specifications" class="section-specifications">
   <div class="container-slider">
      <!-- Tabs -->
      <div class="swiper specifications-swiper">
         <div class="swiper-wrapper specifications-swiper-wrapper">
            <div class="swiper-slide" rel="1">
               <div class="slide-content">
                  <div class="img"><img src="img/app/main/slide6.webp" alt=""></div>
                  <h4 class="title">Modification 1</h4>
                  <div class="price">1499$</div>
               </div>
            </div>

            <div class="swiper-slide" rel="2">
               <div class="slide-content">
                  <div class="img"><img src="img/app/main/slide7.webp" alt=""></div>
                  <h4 class="title">Modification 2</h4>
                  <div class="price">1299$</div>
               </div>
            </div>

            <div class="swiper-slide" rel="3">
               <div class="slide-content">
                  <div class="img"><img src="img/app/main/slide6.webp" alt=""></div>
                  <h4 class="title">Modification 3</h4>
                  <div class="price">1799$</div>
               </div>
            </div>
         </div>

         <!-- <div class="swiper-pagination swiper-pagination-specifications"></div> -->
         <div class="swiper-button-prev"></div>
         <div class="swiper-button-next"></div>
      </div>

      <!-- Content -->
      <div class="ui-container">
         <div class="dots animate">
            <ul>
               <li>
                  <a href="#home"></a>
                  @@include('../tooltip.html', { "text": "Home" })
               </li>
               <li>
                  <a href="#about"></a>
                  @@include('../tooltip.html', { "text": "About" })
               </li>
               <li class="active">
                  <a href="#specifications"></a>
                  @@include('../tooltip.html', { "text": "Specifications" })
               </li>
               <li>
                  <a href="#contacts"></a>
                  @@include('../tooltip.html', { "text": "Contacts" })
               </li>
            </ul>
         </div>

         <!-- Tabs Content Wrap -->
         <div class="specifications-content">
            <!-- Tabs Content 1 -->
            <div class="slides-tabs-content" data-rel="1">
               <!-- Inner Tabs -->
               <ul class="inner-tabs">
                  <li data-tab="1" class="active">Description</li>
                  <li data-tab="2">Characteristics</li>
               </ul>

               <!-- Inner Tabs Content Wrap -->
               <div class="inner-tabs-content-wrap">
                  <!-- Контент описания -->
                  <div class="inner-tabs-content" data-content="1">
                     <div class="descr-item">
                        <div class="img animate"><img src="../img/app/main/slide1.webp" alt=""></div>
                        <div class="texts animate">
                           <div class="point animate"></div>
                           <div class="info">
                              <h3 class="descr-item-title animate">15 programmable controls</h3>
                              <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically
                                 designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast
                                 LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor. It’s a multifaceted battle weapon that
                                 lets you play longer, play better, and make your play.</p>
                           </div>
                        </div>
                     </div>
                     
                     <div class="descr-item">
                        <div class="img animate"><img src="../img/app/main/slide6.webp" alt=""></div>
                        <div class="texts animate">
                           <div class="point animate"></div>
                           <div class="info">
                              <h3 class="descr-item-title animate">Dual connectivity with lightspeed</h3>
                              <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically
                                 designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast
                                 LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor. It’s a multifaceted battle weapon that
                                 lets you play longer, play better, and make your play. It’s a multifaceted battle weapon that
                                 lets you play longer, play better, and make your play</p>
                           </div>
                        </div>
                     </div>
                     
                     <div class="descr-item">
                        <div class="img animate"><img src="../img/app/main/slide7.webp" alt=""></div>
                        <div class="texts animate">
                           <div class="point animate"></div>
                           <div class="info">
                              <h3 class="descr-item-title animate">Hero 16k sensor</h3>
                              <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically
                                 designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast
                                 LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor..</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Контент характеристик -->
                  <div class="inner-tabs-content" data-content="2">
                     <div class="character-block">
                        <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor. It’s a multifaceted battle weapon that lets you play longer, play better, and make your play.</p>
                        <p class="text animate">Program, refine, and win. Master your arsenal in Battle Royale, MMO, and MOBA gameplay with tactically positioned controls in optimal quantity and configuration. Program, refine, and win. Master your arsenal in Battle Royale, MMO, and MOBA gameplay with tactically positioned controls in optimal quantity and configuration.</p>
                        
                        <div class="list animate">
                           <h4 class="heading-list animate">Will let you</h4>
                           <ul>
                              <li><span>Ability to move fully again</span></li>
                              <li><span>Fully enjoy your new life</span></li>
                              <li><span>Forget about motion problems</span></li>
                              <li><span>Ability to move fully again</span></li>
                              <li><span>Fully enjoy your new life</span></li>
                              <li><span>Forget about motion problems</span></li>
                           </ul>
                        </div>

                        <div class="characteristics">
                           <div class="grid-item animate">
                              <div class="title animate">Contents of delivery</div>
                              <ul>
                                 <li>G604 LIGHTSPEED Wireless Gaming Mouse</li>
                                 <li>LIGHTSPEED Wireless Receiver</li>
                                 <li>Extension cable for USB receiver</li>
                                 <li>User Documentation</li>
                                 <li>AA battery</li>
                              </ul>
                           </div>

                           <div class="grid-item animate">
                              <div class="title animate">Physical characteristics</div>
                              <ul>
                                 <li>Length: 130 mm</li>
                                 <li>Width: 80 mm</li>
                                 <li>Thickness: 45 mm</li>
                                 <li>Weight: 135 g, with AA battery</li>
                              </ul>
                           </div>

                           <div class="grid-item animate">
                              <div class="title animate">Other features</div>
                              <ul>
                                 <li>Dual-mode scroll wheel with super-fast scrolling</li>
                                 <li>Built-in memory</li>
                                 <li>Mechanical buttons with spring mechanism</li>
                              </ul>
                           </div>

                           <div class="grid-item animate">
                              <div class="title animate">Requirements</div>
                              <ul>
                                 <li>LIGHTSPEED mode: USB port and Windows® 7 or later, macOS® 10.12 or later, Chrome OS™, or Android™ 3.2 or later</li>
                                 <li>Bluetooth Mode: Bluetooth-enabled device running Windows 8 or later, macOS 10.12 or later, Chrome OS or Android 5.0 or later</li>
                                 <li>Internet connection required to download Logitech G HUB software</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div> 

                  <div class="ui-button-wrap animate">
                     <button class="ui-button buy" data-product="Modification 1"><span>Buy</span></button>
                  </div>
               </div>
            </div>

            <!-- Tabs Content 2 -->
            <div class="slides-tabs-content" data-rel="2">
               <!-- Inner Tabs -->
               <ul class="inner-tabs">
                  <li data-tab="1" class="active">Description</li>
                  <li data-tab="2">Characteristics</li>
               </ul>

               <!-- Inner Tabs Content Wrap -->
               <div class="inner-tabs-content-wrap">
                  <!-- Контент описания -->
                  <div class="inner-tabs-content" data-content="1">
                     <div class="descr-item">
                        <div class="img animate"><img src="../img/app/main/slide1.webp" alt=""></div>
                        <div class="texts animate">
                           <div class="point animate"></div>
                           <div class="info">
                              <h3 class="descr-item-title animate">15 programmable controls</h3>
                              <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically
                                 designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast
                                 LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor. It’s a multifaceted battle weapon that
                                 lets you play longer, play better, and make your play.</p>
                           </div>
                        </div>
                     </div>
                     
                     <div class="descr-item">
                        <div class="img animate"><img src="../img/app/main/slide6.webp" alt=""></div>
                        <div class="texts animate">
                           <div class="point animate"></div>
                           <div class="info">
                              <h3 class="descr-item-title animate">Dual connectivity with lightspeed</h3>
                              <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically
                                 designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast
                                 LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor. It’s a multifaceted battle weapon that
                                 lets you play longer, play better, and make your play. It’s a multifaceted battle weapon that
                                 lets you play longer, play better, and make your play</p>
                           </div>
                        </div>
                     </div>
                     
                     <div class="descr-item">
                        <div class="img animate"><img src="../img/app/main/slide7.webp" alt=""></div>
                        <div class="texts animate">
                           <div class="point animate"></div>
                           <div class="info">
                              <h3 class="descr-item-title animate">Hero 16k sensor</h3>
                              <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically
                                 designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast
                                 LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor..</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Контент характеристик -->
                  <div class="inner-tabs-content" data-content="2">
                     <div class="character-block">
                        <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor. It’s a multifaceted battle weapon that lets you play longer, play better, and make your play.</p>
                        <p class="text animate">Program, refine, and win. Master your arsenal in Battle Royale, MMO, and MOBA gameplay with tactically positioned controls in optimal quantity and configuration. Program, refine, and win. Master your arsenal in Battle Royale, MMO, and MOBA gameplay with tactically positioned controls in optimal quantity and configuration.</p>
                        
                        <div class="list animate">
                           <h4 class="heading-list animate">Will let you</h4>
                           <ul>
                              <li><span>Ability to move fully again</span></li>
                              <li><span>Fully enjoy your new life</span></li>
                              <li><span>Forget about motion problems</span></li>
                              <li><span>Ability to move fully again</span></li>
                              <li><span>Fully enjoy your new life</span></li>
                              <li><span>Forget about motion problems</span></li>
                           </ul>
                        </div>

                        <div class="characteristics">
                           <div class="grid-item animate">
                              <div class="title animate">Contents of delivery</div>
                              <ul>
                                 <li>G604 LIGHTSPEED Wireless Gaming Mouse</li>
                                 <li>LIGHTSPEED Wireless Receiver</li>
                                 <li>Extension cable for USB receiver</li>
                                 <li>User Documentation</li>
                                 <li>AA battery</li>
                              </ul>
                           </div>

                           <div class="grid-item animate">
                              <div class="title animate">Physical characteristics</div>
                              <ul>
                                 <li>Length: 130 mm</li>
                                 <li>Width: 80 mm</li>
                                 <li>Thickness: 45 mm</li>
                                 <li>Weight: 135 g, with AA battery</li>
                              </ul>
                           </div>

                           <div class="grid-item animate">
                              <div class="title animate">Other features</div>
                              <ul>
                                 <li>Dual-mode scroll wheel with super-fast scrolling</li>
                                 <li>Built-in memory</li>
                                 <li>Mechanical buttons with spring mechanism</li>
                              </ul>
                           </div>

                           <div class="grid-item animate">
                              <div class="title animate">Requirements</div>
                              <ul>
                                 <li>LIGHTSPEED mode: USB port and Windows® 7 or later, macOS® 10.12 or later, Chrome OS™, or Android™ 3.2 or later</li>
                                 <li>Bluetooth Mode: Bluetooth-enabled device running Windows 8 or later, macOS 10.12 or later, Chrome OS or Android 5.0 or later</li>
                                 <li>Internet connection required to download Logitech G HUB software</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div> 

                  <div class="ui-button-wrap animate">
                     <button class="ui-button buy" data-product="Modification 2"><span>Buy</span></button>
                  </div>
               </div>
            </div>

            <!-- Tabs Content 3 -->
            <div class="slides-tabs-content" data-rel="3">
               <!-- Inner Tabs -->
               <ul class="inner-tabs">
                  <li data-tab="1" class="active">Description</li>
                  <li data-tab="2">Characteristics</li>
               </ul>

               <!-- Inner Tabs Content Wrap -->
               <div class="inner-tabs-content-wrap">
                  <!-- Контент описания -->
                  <div class="inner-tabs-content" data-content="1">
                     <div class="descr-item">
                        <div class="img animate"><img src="../img/app/main/slide1.webp" alt=""></div>
                        <div class="texts animate">
                           <div class="point animate"></div>
                           <div class="info">
                              <h3 class="descr-item-title animate">15 programmable controls</h3>
                              <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically
                                 designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast
                                 LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor. It’s a multifaceted battle weapon that
                                 lets you play longer, play better, and make your play.</p>
                           </div>
                        </div>
                     </div>
                     
                     <div class="descr-item">
                        <div class="img animate"><img src="../img/app/main/slide6.webp" alt=""></div>
                        <div class="texts animate">
                           <div class="point animate"></div>
                           <div class="info">
                              <h3 class="descr-item-title animate">Dual connectivity with lightspeed</h3>
                              <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically
                                 designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast
                                 LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor. It’s a multifaceted battle weapon that
                                 lets you play longer, play better, and make your play. It’s a multifaceted battle weapon that
                                 lets you play longer, play better, and make your play</p>
                           </div>
                        </div>
                     </div>
                     
                     <div class="descr-item">
                        <div class="img animate"><img src="../img/app/main/slide7.webp" alt=""></div>
                        <div class="texts animate">
                           <div class="point animate"></div>
                           <div class="info">
                              <h3 class="descr-item-title animate">Hero 16k sensor</h3>
                              <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically
                                 designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast
                                 LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor..</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Контент характеристик -->
                  <div class="inner-tabs-content" data-content="2">
                     <div class="character-block">
                        <p class="text animate">Your power, your control. Conquer MOBA, MMO, and Battle Royale gameplay with the strategically designed G604 LIGHTSPEED Wireless Gaming Mouse. 15 programmable controls join forces with ultra-fast LIGHTSPEED dual connectivity and the class-leading HERO 25K sensor. It’s a multifaceted battle weapon that lets you play longer, play better, and make your play.</p>
                        <p class="text animate">Program, refine, and win. Master your arsenal in Battle Royale, MMO, and MOBA gameplay with tactically positioned controls in optimal quantity and configuration. Program, refine, and win. Master your arsenal in Battle Royale, MMO, and MOBA gameplay with tactically positioned controls in optimal quantity and configuration.</p>
                        
                        <div class="list animate">
                           <h4 class="heading-list animate">Will let you</h4>
                           <ul>
                              <li><span>Ability to move fully again</span></li>
                              <li><span>Fully enjoy your new life</span></li>
                              <li><span>Forget about motion problems</span></li>
                              <li><span>Ability to move fully again</span></li>
                              <li><span>Fully enjoy your new life</span></li>
                              <li><span>Forget about motion problems</span></li>
                           </ul>
                        </div>

                        <div class="characteristics">
                           <div class="grid-item animate">
                              <div class="title animate">Contents of delivery</div>
                              <ul>
                                 <li>G604 LIGHTSPEED Wireless Gaming Mouse</li>
                                 <li>LIGHTSPEED Wireless Receiver</li>
                                 <li>Extension cable for USB receiver</li>
                                 <li>User Documentation</li>
                                 <li>AA battery</li>
                              </ul>
                           </div>

                           <div class="grid-item animate">
                              <div class="title animate">Physical characteristics</div>
                              <ul>
                                 <li>Length: 130 mm</li>
                                 <li>Width: 80 mm</li>
                                 <li>Thickness: 45 mm</li>
                                 <li>Weight: 135 g, with AA battery</li>
                              </ul>
                           </div>

                           <div class="grid-item animate">
                              <div class="title animate">Other features</div>
                              <ul>
                                 <li>Dual-mode scroll wheel with super-fast scrolling</li>
                                 <li>Built-in memory</li>
                                 <li>Mechanical buttons with spring mechanism</li>
                              </ul>
                           </div>

                           <div class="grid-item animate">
                              <div class="title animate">Requirements</div>
                              <ul>
                                 <li>LIGHTSPEED mode: USB port and Windows® 7 or later, macOS® 10.12 or later, Chrome OS™, or Android™ 3.2 or later</li>
                                 <li>Bluetooth Mode: Bluetooth-enabled device running Windows 8 or later, macOS 10.12 or later, Chrome OS or Android 5.0 or later</li>
                                 <li>Internet connection required to download Logitech G HUB software</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div> 

                  <div class="ui-button-wrap animate">
                     <button class="ui-button buy" data-product="Modification 3"><span>Buy</span></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>