<header class="absolute">
   <div class="ui-container">
      @@include('_logo.html')

      <nav class="h-menu">
         <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#specifications">Specifications</a></li>
            <li><a href="#contacts">Contacts</a></li>
         </ul>
      </nav>

      @@include('_burger.html')
   </div>
</header>

<header class="scroll">
   <div class="ui-container">
      @@include('_logo.html')

      <nav class="h-menu">
         <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#specifications">Specifications</a></li>
            <li><a href="#contacts">Contacts</a></li>
         </ul>
      </nav>

      @@include('_burger.html')
   </div>
</header>