<header class="absolute">
   <div class="ui-container">
      @@include('_logo.html')

      <nav class="h-menu">
         <ul>
            <li><a href="#home">Главная</a></li>
            <li><a href="#about">О нас</a></li>
            <li><a href="#specifications">Преимущества</a></li>
            <li><a href="#contacts">Контакты</a></li>
         </ul>
      </nav>

      @@include('_burger.html')
   </div>
</header>

<header class="scroll">
   <div class="ui-container">
      @@include('_logo.html')

      <nav class="h-menu">
         <ul>
            <li><a href="#home">Главная</a></li>
            <li><a href="#about">О нас</a></li>
            <li><a href="#specifications">Преимущества</a></li>
            <li><a href="#contacts">Контакты</a></li>
         </ul>
      </nav>

      @@include('_burger.html')
   </div>
</header>