<div class="mobile-menu">
   <div class="content">
      <!-- Navigation Menu -->
      <div class="m-content">
         <nav class="m-menu">
            <ul>
               <li><a href="#home" data-link="#home">Home</a></li>
               <li><a href="#about" data-link="#about">About</a></li>
               <li><a href="#specifications" data-link="#specifications">Specifications</a></li>
               <li><a href="#contacts" data-link="#contacts">Contacts</a></li>
            </ul>
         </nav>

         <div class="m-item">
            <button class="ui-button buy"><span>buy now</span></button>
         </div>

         <div class="m-item">
            <span class="title">Phone:</span>
            <a href="tel:+8618098948684">+86 180 98-948-684</a>
         </div>

         <div class="m-item">
            <span class="title">Email:</span>
            <a href="mailto:example@gmail.com">example@gmail.com</a>
         </div>

         <div class="m-item">
            @@include('socials.html')
         </div>
      </div>
   </div>
   @@include('_close.html')
</div>