<form action="#" method="" id="contact-form" class="animate">
   <div class="grid-item">
      <div class="form-item" data-animate>
         <input type="text" name="user_name" id="user_name" class="field">
         <label for="user_name" class="placeholder">Name</label>
         <div class="error-message"><i class="fas fa-exclamation-circle"></i> <span></span></div>
      </div>
      
      <div class="form-item" data-animate>
         <input type="text" name="user_email" id="user_email" class="field">
         <label for="user_email" class="placeholder">Email</label>
         <div class="error-message"><i class="fas fa-exclamation-circle"></i> <span></span></div>
      </div>
   </div>

   <div class="form-item" data-animate>
      <textarea name="user_message" class="field"></textarea>
      <label for="user_message" class="placeholder">Message</label>
   </div>

   <div class="ui-button-wrap">
      <button class="ui-button" type="submit" data-animate><span>Send</span></button>
   </div>
</form>