<form action="#" method="" id="order-form" class="animate">
   <div class="grid-item">
      <div class="form-item" data-animate>
         <input type="text" name="user_name" id="user_name" class="field">
         <label for="user_name" class="placeholder">Name</label>
         <div class="error-message"><i class="fas fa-exclamation-circle"></i> <span></span></div>
      </div>

      <div class="form-item" tabindex="1">
         <input type="tel" name="user_phone" id="user_phone" class="field">
         <label for="user_phone" class="placeholder">Phone</label>
         <div class="error-message"><i class="fas fa-exclamation-circle"></i> <span></span></div>
      </div>
   </div>

   <div class="form-item" data-animate>
      <div class="ui-select" tabindex="0">
         <input readonly type="text" name="user_communication" id="user_communication" class="field">
         <label for="user_communication" class="placeholder">Choose your product</label>
         <span class="menu-arrow"></span>
         
         <ul class="options">
            <li data-value="Modification 1">Modification 1</li>
            <li data-value="Modification 2">Modification 2</li>
            <li data-value="Modification 3">Modification 3</li>
         </ul>
      </div>
   </div>

   <div class="form-item" data-animate>
      <input type="text" name="user_email" id="user_email" class="field" >
      <label for="user_email" class="placeholder">Email</label>
      <div class="error-message"><i class="fas fa-exclamation-circle"></i> <span></span></div>
   </div>

   <div class="form-item" data-animate>
      <textarea name="user_message" class="field"></textarea>
      <label for="user_message" class="placeholder">Message</label>
   </div>

   <button class="ui-button" type="submit"><span>Order</span></button>
</form>